<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Presupuesto</title>
    <link rel="stylesheet" href="../CSS/style.css">
</head>

<body>
    <header>
        <h1>Orion Joyas</h1>
    </header>

    <nav>
        <a href="../index.html">Inicio</a>
        <a href="../views/productos.html">Productos</a>
        <a href="../views/presupuesto.html">Presupuesto</a>
        <a href="../views/contacto.html">Contacto</a>
    </nav>


    <form name="formulario" method="post" action="envio.html">
        Nombre: <input type="text" name="nombre" id="nombre" value=""><br><br>
        Correo electrónico: <input type="email" name="email" id="email" required><br><br>
        Teléfono:<input type="tel" name="telefono" id="telefono"><br><br>
        Solicite mas informacion: <br><textarea cols="30" rows="6" name="prueba">Escriba su pregunta</textarea><br><br>
        <input type="checkbox" name="casilla" id="casilla" value="casilla" checked>Acepto politica de privacidad
        <br><br>
        <input type="submit" value="Enviar">
    </form>

    <footer>
        <p>©2026 Orion Joyas - Stuttgart, Alemania</p>
    </footer>
</body>

</html>