<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>productos-Orion</title>
    <link rel="stylesheet" href="../CSS/style.css">
</head>

<body>
    <header>
        <h1>Orion Joyas</h1>
    </header>

    <nav>
        <a href="../index.html">Inicio</a>
        <a href="../views/productos.html">Productos</a>
        <a href="../views/presupuesto.html">Presupuesto</a>
        <a href="../views/contacto.html">Contacto</a>
    </nav>
    <main>
        <div class="item-a">
            <img src="../assets/imagenes/joyas08.jpg" alt="imagen01">
        </div>
        <div>
            <img src="../assets/imagenes/joyas07.jpg" alt="imagen02">
        </div>
        <div class="item-b">
            <img src="../assets/imagenes/joyas09.jpg" alt="imagen03">
        </div>
        <div>
            <img src="../assets/imagenes/joyas05.webp" alt="imagen 04">
        </div>

        <div class="item-c">
            <img src="../assets/imagenes/joyas14.jpg" alt="imagen 05">
        </div>
        <div>
            <img src="../assets/imagenes/joyas06.jpg" alt="imagen 06">
        </div>
        <div>
            <img src="../assets/imagenes/joyas13.webp" alt="imagen 07">
        </div>

        <div class="item-d">
            <img src="../assets/imagenes/joyas04.jpg" alt="imagen 08">

        </div>
    </main>

    <footer>
        <p>©2026 Orion Joyas - Stuttgart, Alemania</p>
    </footer>
</body>