<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Contacto - Orion Joyas</title>
    <link rel="stylesheet" href="../CSS/style.css">
</head>

<body>
    <header>
        <h1>Orion Joyas</h1>
    </header>

    <nav>
        <a href="../index.html">Inicio</a>
        <a href="../views/productos.html">Productos</a>
        <a href="../views/presupuesto.html">Presupuesto</a>
        <a href="../views/contacto.html">Contacto</a>
    </nav>

    <div class="contacto">
        <h2>Contáctanos</h2>

        <div class="datos">
            <p><strong>Dirección:</strong> Königstraße 123, 70173 Stuttgart, Alemania</p>
            <p><strong>Teléfono:</strong> +49 711 1234567</p>
            <p><strong>Email:</strong> <a href="mailto:info@orionjoyas.de">info@orionjoyas.de</a></p>
            <p><strong>Horario:</strong> Lun a Vie: 9:00 a 18:00, Sáb: 10:00-14:00</p>
        </div>

        <div class="mapa">
            <!-- puedes sustituir esta imagen por un PNG/JPG real con la ubicación -->
            <p> Mapa de la empresa Orion Joyas</p>
            <img src="../assets/imagenes/mapa- STUTTGART.jpg" alt="Mapa de ubicación de Orion Joyas en Stuttgart"
                class="img60">

        </div>

        <p>Ven a visitarnos en el corazón de Stuttgart y descubre nuestras colecciones de oro y plata hechas a mano.</p>
    </div>

    <footer>
        <p>©2026 Orion Joyas - Stuttgart, Alemania</p>
    </footer>
</body>

</html>
